PLATFORM_KEY=example
KEY_PASS=test
SEED_PATH=store
# optional - if not set, uses https://platform.enjin.io/graphql/daemon
PLATFORM_URL=https://platform.enjin.io/graphql/daemon
RUST_LOG=wallet_daemon=info