# (required) The password used to encrypt/decrypt the seed phrase.
KEY_PASS=

# (required) Enjin Platform Cloud API Token: https://platform.enjin.io
PLATFORM_KEY=

# (optional) Path to the directory or files where to read/write the seed.
SEED_PATH=store
