# (required) The password used to encrypt/decrypt the seed phrase.
KEY_PASS=

# (required) Enjin Platform API Token: https://platform.enjin.io
PLATFORM_KEY=

# (optional) Path to the file where the daemon reads/writes the seed.
# SEED_PATH=
